body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffee; /* Set a warm background color */
}


main {
    text-align: center; /* Center align all content in the main element */
}



.text-post {
    font-size: 18px;
    margin-left: 10vw; /* Increase left margin */
    margin-right: 10vw; /* Increase right margin */
    text-align: justify; /* Add this line to justify the text */
}

.title-reload-container {
    display: flex;
    align-items: center;
}

.reload-button {
    background: none;
    border: none;
    display: flex; /* Add display flex */
    align-items: center; /* Center items vertically */
    margin-left: 5px;
    cursor: pointer;
    padding: 0;
    opacity: 0.7;
}


.reload-button img {
    width: 16px;
    height: 16px;
    opacity: 0.7;
}



.phrase-post p {
    margin: 20px;
    text-align: right;
    font-size: 18px; 
    font-style: italic; 
    margin-left: 10vw; /* Increase left margin */
    margin-right: 10vw; /* Increase right margin */
}

.phrase-post .author {
    font-size: 12px;
    font-weight: bold;
}

img {
    max-width: 100%; /* Set the maximum width to 100% of the container */
    max-height: 90vh; /* Set the maximum height to 100% of the viewport height */
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto; /* Center horizontally by setting left and right margins to 'auto' */
    margin-top: 5em;
}


.image-subtitle {
    font-style: italic;
}

.thought {
    /* Add word wrap and set maximum width for thoughts */
    max-width: 200px; /* Adjust the value as needed */
    word-wrap: break-word;
    white-space: normal;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tab-container {
    text-align: center;
    margin: 1em 0;
}

.tab-button {
    background-color: #f2f2f2;
    border: none;
    color: #333;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: #333;
    color: white;
    /* Add extra highlight to the active button */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.tab-content {
    display: none;
}
