/* styles.css */
:root {
    --primary-color: blue;
    --text-color: black;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Comic Sans MS";
    overflow-x: hidden;
}

.container {
    text-align: center; 
    padding-top: 20px; 
}

.icon-container {
    text-align: center;
}

.icon {
    width: 100px;
    height: 100px; 
    border-radius: 50%;
}

.icon-line {
    position: relative;
    width: 200px; 
}

.links {
    flex: 1;
    text-align: left;
}

.link-item {
    text-align: center;
    margin-bottom: 50px;
}

a {
    margin-top: 20px;
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    color: var(--primary-color);
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

.link-text {
    font-size: 16px;
    color: gray;
    padding-left: 20px;
}

.hidden {
    display: none;
}

.toggle-button {
    font-size: 24px;
    color: var(--primary-color);
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: "Comic Sans MS";
}

.toggle-button:hover {
    text-decoration: underline;
}

.link-container {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.info-icon {
    position: relative;
    margin-left: 5px;
    cursor: pointer;
    vertical-align: middle;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    max-width: 80vw;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: normal;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
