body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #000;
}

img {
    max-width: 95vw;
    max-height: 95vh;
    height: auto;
    display: block;
    margin: 3em auto 0;
    border: 20px solid white;
    box-sizing: border-box;
}

.image-subtitle {
    font-style: italic;
    color: white;
}

.image-subtitle + img {
    margin-top: 20px;
}

@media (max-width: 600px) {
    img {
        max-height: 50vh;
        margin-top: 2em;
        border-width: 6px;
    }
}

